{% extends ajaxProofTemplate %}

{% load staticfiles %}

{% block title_block %}
  Add Playlist
{% endblock %}

{% block body_block %}
<h1 class="pageTitle">Choose a Playlist</h1> <div>
<form id="add_playlist_form" method="post" action="/rankify/add_playlist/">
    {% csrf_token %}
{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}

{% endfor %}
<input type="submit" name="submit" value="Upload" />

</form><div class="loading">Loading, please wait...</div>
{% endblock %}
