{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <link rel="shortcut icon" type="image/png" href="{% static "favicon/favicon.ico" %}"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.min.js"></script>
      <script src="{% static 'js/animation.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title class="pageTitle">
         {% block title_block %} Rankify: How Danceable Are Your Spotify Playlists? {% endblock %}
      </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href=" {% static 'css/main.css'%} " />
   </head>
   <body onload="init()">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'js/main.js' %}"></script>
      {% csrf_token %}
      <div id="WebGLCanvas" onload="speed()"></div>
      <div id="content">
         <nav id="nav">
            <a href="{% url 'index' %}" class="logohome ajaxLink"><img src="{% static "img/rankify_logo.png" %}"
              alt="RankifyLogo" width="80" id="rankifylogo"/></a>
            {% if user.is_authenticated %}
            <a href="/rankify/logout/" class="rightNav">Logged in as {{ display_name }}. Logout?</a>{% else %}
            <a href="{% url 'social:begin' 'spotify' %}" class="rightNav">Login</a>
            {% endif %}
         </nav>
         <div class="body-text" id="space">
            {% block body_block %}
            {% endblock %}
         </div>
         {% if user.is_authenticated %}
         <!-- if the user is logged in they have some options: -->
         <!-- if the user has linked their spotify, prompt to upload a playlist -->
         <a href="{% url 'add_playlist' %}" class="big-add ajaxLink">Add a Playlist</a> {% else %}
         <!--if the user isn't even logged in, prompt them to do so -->
         <a href="{% url 'social:begin' 'spotify' %}" class="big-add">Log in to find out! </a> {% endif %}
         <div class="button-row">
            <a href="{% url 'rankings' %}" class="rounded-button ajaxLink">Rankings</a> {% if user.is_authenticated %}
            <!--if the user is logged in they can view their profile (playlists)-->
            <a href="/rankify/user/" class="rounded-button ajaxLink">Your Playlists</a> {% endif %}
         </div>
         <footer>
            Made for the Internet Technology class at <a href="https://www.gla.ac.uk" target="_blank">
              The University of Glasgow</a><br /> By Conor Mckeown, Paul McHard, Lewis Renfrew, and Nicholas Ferrera
         </footer>
      </div>
   </body>
</html>
