{% extends 'rankify/base.html' %}
{% load staticfiles %}


{% block title_block %}
  Home
{% endblock %}


{% block body_block %}
  <div id="content">

      <img src="{% static "img/cover.jpg" %}" alt="Rankify" width="1000" id="cover"/>

      <nav>
        {% if loggedIn %}
          <a>Logged in as {{ username }}</a>
        {% else %}
          <a href="/rankify/login/">Login</a>
          <!-- <a href="/about/">About</a> -->
        {% endif %}
      </nav>

      <div class ="intro-text">
          Two lines to explain what the app is.
      </div>

      <a href="rankify/add/" class="big-add">Add a Playlist</a>
      <div class="button-row">
        <a href="/rankify/rankings/" class="rounded-button">Rankings</a>
      </div>

      <footer>
          Made for the Internet Technology class at <a href="https://www.gla.ac.uk" target="_blank">The University of Glasgow</a><br />
          By Conor Mckeown, Paul McHard, Lewis Renfrew, and Nicholas Ferrera
      </footer>

  </div>
{% endblock %}
