{% extends ajaxProofTemplate %}

{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}


{% block body_block %}
<h1 class="pageTitle">Rankify Home</h1>
    {% if playlist_added %}
    <div id="speed" align="center"  data-value="{{ avg_danceability }}">
    {% else %}
    <div id="speed" align="center"  data-value="0.1">
    {% endif %}





{% if playlist_added %}
{{ playlist_name }} scored {{ total_score }} points! Average danceability in playlist was {{ avg_score }}
{% else %}
Can you create the worlds most danceable playlist?
{% endif %}
{% endblock %}
