
{% extends ajaxProofTemplate %}

{% load staticfiles %}

{% block title_block %}
  Rankings
{% endblock %}

{% block body_block %}
<h1 class="pageTitle"> World Rankings </h1>
<div>
<div id="speed" align="center"  data-value="0.1">
{% if playlists %} <ul>
{% for playlist in playlists %} <li>Name: {{ playlist.name }} |      Danceability: {{ playlist.avg_danceability }} | Creator = <a href="/rankify/user/{{ playlist.creator }}">{{ playlist.creator_display_name }}</a> |    </li>
{% endfor %} </ul>
for each playlist you can also access a thumbnail image using playlist.playlist_image_url
<ul>
{% else %}
<strong>No one has ever Rankfied a playlist! :(</strong>
{% endif %} </div>
{% endblock %}
