{% extends ajaxProofTemplate %}

{% load staticfiles %}

{% block title_block %}
  User
{% endblock %}

{% block body_block %}
<h1> Rankified Playlists </h1>
<div> your profile picture is at {{ image_url }}</div>
<div>
{% if playlists %} <ul>
{% for playlist in playlists %} <li>Name: {{ playlist.name }}  |   Danceability: {{ playlist.avg_danceability }} | <a href="/rankify/playlist/{{ playlist.slug }}">breakdown</a> </li>

{% endfor %} </ul>
{% else %}
<strong>You haven't Rankified any playlists!</strong>
{% endif %} </div>
{% endblock %}
